TestGitProject/.schema/scenario/NewMM/MM.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:include schemaLocation="project://.schema/field.xsd"/>
    <xsd:include schemaLocation="project://.schema/version/CUSTOMER%2C.xsd"/>
    <xsd:include schemaLocation="project://.schema/version/ACCOUNT%2C.xsd"/>
    <xsd:include schemaLocation="project://.schema/version/MM.xsd"/>
    <xsd:element name="InputMessages">
        <xsd:annotation>
            <xsd:appinfo>
                <decoration image="$concat('priority-','Medium','.gif')" textXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@refId!=''&quot;>&lt;xsl:value-of select=&quot;concat(@status, ' - ', @refId, ': TestScenario (module: ', @module,')   ', @comment)&quot;/>&lt;/xsl:when>&lt;xsl:when test=&quot;@refId=''&quot;>&lt;xsl:value-of select=&quot;concat(@status, ' - TestScenario (module: ', @module,')   ', @comment)&quot;/>&lt;/xsl:when>&lt;/xsl:choose>"/>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="TestCase">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <decoration textXpath="concat('TestCase: ',@Value)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute default="1" name="Value" type="xsd:positiveInteger"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Datapool">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <decoration textXpath="concat('Default datapool: ',@Value)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:attribute default="" name="Value" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="TestPlan">
                    <xsd:complexType>
                        <xsd:attribute default="creates a new MM" name="Value" type="xsd:string"/>
                        <xsd:attribute default="" name="prepareComment" type="xsd:string">
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <decoration textXpath="concat('TestPlan - ',@Value)"/>
                                    <cellEditor class="hu.fot.util.eclipse.MultiLineCellEditor" plugin="hu.fot.util.eclipse"/>
                                </xsd:appinfo>
                            </xsd:annotation>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="1" name="Days">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="Day">
                                <xsd:annotation>
                                    <xsd:appinfo>
                                        <decoration textXpath="'Day 1, phase='"/>
                                    </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Sequence">
                                            <xsd:annotation>
                                                <xsd:appinfo>
                                                    <decoration fColorXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Check'&quot;>DARK_RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>DARK_GRAY&lt;/xsl:when>&lt;/xsl:choose>" fontXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>italic&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>bold&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Check'&quot;>bold&lt;/xsl:when>&lt;/xsl:choose>" image="$concat('version',name(@skipExec),@skipExec,'.gif')" textXpath="concat(TM:position(), ' - ',substring(@type,1,1), '. test case: T24Version - CUSTOMER,(3), I  //', @comment)"/>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element maxOccurs="1" minOccurs="0" name="InputMessage">
                                                        <xsd:annotation>
                                                            <xsd:appinfo>
                                                                <decoration textXpath="'Input data'"/>
                                                                <displayName textXPath="Input data"/>
                                                            </xsd:appinfo>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
							---------------------
								<xsd:element maxOccurs="1" minOccurs="0" name="Requirements" type="RequirementType"/>
                                                                <xsd:element maxOccurs="1" minOccurs="0" name="QAList">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration textXpath="'Questions &amp;  Answers'"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element maxOccurs="unbounded" minOccurs="1" name="QA">
                                                                                <xsd:annotation>
                                                                                    <xsd:appinfo>
                                                                                        <decoration textXpath="concat('Q: &quot;',@Question,'&quot; A:&quot;',@Answer,'&quot;')"/>
                                                                                    </xsd:appinfo>
                                                                                </xsd:annotation>
                                                                                <xsd:complexType>
                                                                                    <xsd:attribute name="Question" type="xsd:string" use="required"/>
                                                                                    <xsd:attribute name="Answer" type="xsd:string" use="required"/>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="FieldValues">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration image="$concat('test_', @Commit, '.gif')" textXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@usergroup&quot;>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',CUSTOMER,, I) executed by  ',@usergroup)&quot;/>&lt;/xsl:when>&lt;xsl:otherwise>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',CUSTOMER,, I)','')&quot;/>&lt;/xsl:otherwise>&lt;/xsl:choose>"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:complexContent>
                                                                            <xsd:extension base="tFieldValues_CUSTOMER_2C">
                                                                                <xsd:attribute default="PASS" name="Commit" type="tCommit" use="required"/>
                                                                                <xsd:attribute fixed="CUSTOMER," name="version" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="CUSTOMER_3" name="UniqueVerName" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="I" name="Mode" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="true" name="Verify" type="tBool" use="required"/>
                                                                                <xsd:attribute fixed="" name="Authorize" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="-1" name="Override" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="S" name="reopenMode" use="required">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="xsd:string">
                                                                                            <xsd:enumeration value="I"/>
                                                                                            <xsd:enumeration value="S"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute name="usergroup" type="xsd:string" use="optional">
                                                                                    <xsd:annotation>
                                                                                        <xsd:appinfo>
                                                                                            <valueOptions class="hu.fot.testManager.tce.views.UserCollector" plugin="hu.fot.testManager.tce"/>
                                                                                        </xsd:appinfo>
                                                                                    </xsd:annotation>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute default="Drop" name="onFailure" type="tOnFailureType" use="required"/>
                                                                            </xsd:extension>
                                                                        </xsd:complexContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                            <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                            <xsd:attribute fixed="T24Version" name="blockType" use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute fixed="3" name="seqId" use="required"/>
                                                <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                <xsd:attribute fixed="Test" name="type" use="required"/>
                                                <xsd:attribute name="id" type="xsd:string" use="required"/>
                                                <xsd:attribute name="skipExec" type="xsd:boolean"/>
                                                <xsd:attribute default="" name="comment" type="xsd:string"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="Sequence">
                                            <xsd:annotation>
                                                <xsd:appinfo>
                                                    <decoration fColorXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Check'&quot;>DARK_RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>DARK_GRAY&lt;/xsl:when>&lt;/xsl:choose>" fontXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>italic&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>bold&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Check'&quot;>bold&lt;/xsl:when>&lt;/xsl:choose>" image="$concat('version',name(@skipExec),@skipExec,'.gif')" textXpath="concat(TM:position(), ' - ',substring(@type,1,1), '. test case: T24Version - ACCOUNT,(4), I  //', @comment)"/>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element maxOccurs="1" minOccurs="0" name="InputMessage">
                                                        <xsd:annotation>
                                                            <xsd:appinfo>
                                                                <decoration textXpath="'Input data'"/>
                                                                <displayName textXPath="Input data"/>
                                                            </xsd:appinfo>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
							---------------------
								<xsd:element maxOccurs="1" minOccurs="0" name="Requirements" type="RequirementType"/>
                                                                <xsd:element maxOccurs="1" minOccurs="0" name="QAList">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration textXpath="'Questions &amp;  Answers'"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element maxOccurs="unbounded" minOccurs="1" name="QA">
                                                                                <xsd:annotation>
                                                                                    <xsd:appinfo>
                                                                                        <decoration textXpath="concat('Q: &quot;',@Question,'&quot; A:&quot;',@Answer,'&quot;')"/>
                                                                                    </xsd:appinfo>
                                                                                </xsd:annotation>
                                                                                <xsd:complexType>
                                                                                    <xsd:attribute name="Question" type="xsd:string" use="required"/>
                                                                                    <xsd:attribute name="Answer" type="xsd:string" use="required"/>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="FieldValues">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration image="$concat('test_', @Commit, '.gif')" textXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@usergroup&quot;>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',ACCOUNT,, I) executed by  ',@usergroup)&quot;/>&lt;/xsl:when>&lt;xsl:otherwise>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',ACCOUNT,, I)','')&quot;/>&lt;/xsl:otherwise>&lt;/xsl:choose>"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:complexContent>
                                                                            <xsd:extension base="tFieldValues_ACCOUNT_2C">
                                                                                <xsd:attribute default="PASS" name="Commit" type="tCommit" use="required"/>
                                                                                <xsd:attribute fixed="ACCOUNT," name="version" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="ACCOUNT_4" name="UniqueVerName" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="I" name="Mode" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="true" name="Verify" type="tBool" use="required"/>
                                                                                <xsd:attribute fixed="" name="Authorize" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="-1" name="Override" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="S" name="reopenMode" use="required">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="xsd:string">
                                                                                            <xsd:enumeration value="I"/>
                                                                                            <xsd:enumeration value="S"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute name="usergroup" type="xsd:string" use="optional">
                                                                                    <xsd:annotation>
                                                                                        <xsd:appinfo>
                                                                                            <valueOptions class="hu.fot.testManager.tce.views.UserCollector" plugin="hu.fot.testManager.tce"/>
                                                                                        </xsd:appinfo>
                                                                                    </xsd:annotation>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute default="Drop" name="onFailure" type="tOnFailureType" use="required"/>
                                                                            </xsd:extension>
                                                                        </xsd:complexContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                            <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                            <xsd:attribute fixed="T24Version" name="blockType" use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute fixed="4" name="seqId" use="required"/>
                                                <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                <xsd:attribute fixed="Test" name="type" use="required"/>
                                                <xsd:attribute name="id" type="xsd:string" use="required"/>
                                                <xsd:attribute name="skipExec" type="xsd:boolean"/>
                                                <xsd:attribute default="" name="comment" type="xsd:string"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="Sequence">
                                            <xsd:annotation>
                                                <xsd:appinfo>
                                                    <decoration fColorXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Check'&quot;>DARK_RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>DARK_GRAY&lt;/xsl:when>&lt;/xsl:choose>" fontXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>italic&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>bold&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Check'&quot;>bold&lt;/xsl:when>&lt;/xsl:choose>" image="$concat('version',name(@skipExec),@skipExec,'.gif')" textXpath="concat(TM:position(), ' - ',substring(@type,1,1), '. test case: T24Version - ACCOUNT,(5), I  //', @comment)"/>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element maxOccurs="1" minOccurs="0" name="InputMessage">
                                                        <xsd:annotation>
                                                            <xsd:appinfo>
                                                                <decoration textXpath="'Input data'"/>
                                                                <displayName textXPath="Input data"/>
                                                            </xsd:appinfo>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
							---------------------
								<xsd:element maxOccurs="1" minOccurs="0" name="Requirements" type="RequirementType"/>
                                                                <xsd:element maxOccurs="1" minOccurs="0" name="QAList">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration textXpath="'Questions &amp;  Answers'"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element maxOccurs="unbounded" minOccurs="1" name="QA">
                                                                                <xsd:annotation>
                                                                                    <xsd:appinfo>
                                                                                        <decoration textXpath="concat('Q: &quot;',@Question,'&quot; A:&quot;',@Answer,'&quot;')"/>
                                                                                    </xsd:appinfo>
                                                                                </xsd:annotation>
                                                                                <xsd:complexType>
                                                                                    <xsd:attribute name="Question" type="xsd:string" use="required"/>
                                                                                    <xsd:attribute name="Answer" type="xsd:string" use="required"/>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="FieldValues">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration image="$concat('test_', @Commit, '.gif')" textXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@usergroup&quot;>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',ACCOUNT,, I) executed by  ',@usergroup)&quot;/>&lt;/xsl:when>&lt;xsl:otherwise>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',ACCOUNT,, I)','')&quot;/>&lt;/xsl:otherwise>&lt;/xsl:choose>"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:complexContent>
                                                                            <xsd:extension base="tFieldValues_ACCOUNT_2C">
                                                                                <xsd:attribute default="PASS" name="Commit" type="tCommit" use="required"/>
                                                                                <xsd:attribute fixed="ACCOUNT," name="version" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="ACCOUNT_5" name="UniqueVerName" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="I" name="Mode" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="true" name="Verify" type="tBool" use="required"/>
                                                                                <xsd:attribute fixed="" name="Authorize" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="-1" name="Override" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="S" name="reopenMode" use="required">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="xsd:string">
                                                                                            <xsd:enumeration value="I"/>
                                                                                            <xsd:enumeration value="S"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute name="usergroup" type="xsd:string" use="optional">
                                                                                    <xsd:annotation>
                                                                                        <xsd:appinfo>
                                                                                            <valueOptions class="hu.fot.testManager.tce.views.UserCollector" plugin="hu.fot.testManager.tce"/>
                                                                                        </xsd:appinfo>
                                                                                    </xsd:annotation>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute default="Drop" name="onFailure" type="tOnFailureType" use="required"/>
                                                                            </xsd:extension>
                                                                        </xsd:complexContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                            <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                            <xsd:attribute fixed="T24Version" name="blockType" use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute fixed="5" name="seqId" use="required"/>
                                                <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                <xsd:attribute fixed="Test" name="type" use="required"/>
                                                <xsd:attribute name="id" type="xsd:string" use="required"/>
                                                <xsd:attribute name="skipExec" type="xsd:boolean"/>
                                                <xsd:attribute default="" name="comment" type="xsd:string"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="Sequence">
                                            <xsd:annotation>
                                                <xsd:appinfo>
                                                    <decoration fColorXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Check'&quot;>DARK_RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>DARK_GRAY&lt;/xsl:when>&lt;/xsl:choose>" fontXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>italic&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>bold&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Check'&quot;>bold&lt;/xsl:when>&lt;/xsl:choose>" image="$concat('version',name(@skipExec),@skipExec,'.gif')" textXpath="concat(TM:position(), ' - ',substring(@type,1,1), '. test case: T24Version - MM(6), I  //', @comment)"/>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element maxOccurs="1" minOccurs="0" name="InputMessage">
                                                        <xsd:annotation>
                                                            <xsd:appinfo>
                                                                <decoration textXpath="'Input data'"/>
                                                                <displayName textXPath="Input data"/>
                                                            </xsd:appinfo>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
							---------------------
								<xsd:element maxOccurs="1" minOccurs="0" name="Requirements" type="RequirementType"/>
                                                                <xsd:element maxOccurs="1" minOccurs="0" name="QAList">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration textXpath="'Questions &amp;  Answers'"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element maxOccurs="unbounded" minOccurs="1" name="QA">
                                                                                <xsd:annotation>
                                                                                    <xsd:appinfo>
                                                                                        <decoration textXpath="concat('Q: &quot;',@Question,'&quot; A:&quot;',@Answer,'&quot;')"/>
                                                                                    </xsd:appinfo>
                                                                                </xsd:annotation>
                                                                                <xsd:complexType>
                                                                                    <xsd:attribute name="Question" type="xsd:string" use="required"/>
                                                                                    <xsd:attribute name="Answer" type="xsd:string" use="required"/>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="FieldValues">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration image="$concat('test_', @Commit, '.gif')" textXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@usergroup&quot;>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',MM, I) executed by  ',@usergroup)&quot;/>&lt;/xsl:when>&lt;xsl:otherwise>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',MM, I)','')&quot;/>&lt;/xsl:otherwise>&lt;/xsl:choose>"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:complexContent>
                                                                            <xsd:extension base="tFieldValues_MM">
                                                                                <xsd:attribute default="PASS" name="Commit" type="tCommit" use="required"/>
                                                                                <xsd:attribute fixed="MM" name="version" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="MM_6" name="UniqueVerName" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="I" name="Mode" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="true" name="Verify" type="tBool" use="required"/>
                                                                                <xsd:attribute fixed="" name="Authorize" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="-1" name="Override" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="S" name="reopenMode" use="required">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="xsd:string">
                                                                                            <xsd:enumeration value="I"/>
                                                                                            <xsd:enumeration value="S"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute name="usergroup" type="xsd:string" use="optional">
                                                                                    <xsd:annotation>
                                                                                        <xsd:appinfo>
                                                                                            <valueOptions class="hu.fot.testManager.tce.views.UserCollector" plugin="hu.fot.testManager.tce"/>
                                                                                        </xsd:appinfo>
                                                                                    </xsd:annotation>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute default="Drop" name="onFailure" type="tOnFailureType" use="required"/>
                                                                            </xsd:extension>
                                                                        </xsd:complexContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                            <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                            <xsd:attribute fixed="T24Version" name="blockType" use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute fixed="6" name="seqId" use="required"/>
                                                <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                <xsd:attribute fixed="Test" name="type" use="required"/>
                                                <xsd:attribute name="id" type="xsd:string" use="required"/>
                                                <xsd:attribute name="skipExec" type="xsd:boolean"/>
                                                <xsd:attribute default="" name="comment" type="xsd:string"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                        <xsd:element name="Sequence">
                                            <xsd:annotation>
                                                <xsd:appinfo>
                                                    <decoration fColorXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Check'&quot;>DARK_RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>RED&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>DARK_GRAY&lt;/xsl:when>&lt;/xsl:choose>" fontXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@type='Preparatory'&quot;>italic&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Test'&quot;>bold&lt;/xsl:when>&lt;xsl:when test=&quot;@type='Check'&quot;>bold&lt;/xsl:when>&lt;/xsl:choose>" image="$concat('version',name(@skipExec),@skipExec,'.gif')" textXpath="concat(TM:position(), ' - ',substring(@type,1,1), '. test case: T24Version - MM(7), A  //', @comment)"/>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element maxOccurs="1" minOccurs="0" name="InputMessage">
                                                        <xsd:annotation>
                                                            <xsd:appinfo>
                                                                <decoration textXpath="'Input data'"/>
                                                                <displayName textXPath="Input data"/>
                                                            </xsd:appinfo>
                                                        </xsd:annotation>
                                                        <xsd:complexType>
                                                            <xsd:sequence>
							---------------------
								<xsd:element maxOccurs="1" minOccurs="0" name="Requirements" type="RequirementType"/>
                                                                <xsd:element maxOccurs="1" minOccurs="0" name="QAList">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration textXpath="'Questions &amp;  Answers'"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:sequence>
                                                                            <xsd:element maxOccurs="unbounded" minOccurs="1" name="QA">
                                                                                <xsd:annotation>
                                                                                    <xsd:appinfo>
                                                                                        <decoration textXpath="concat('Q: &quot;',@Question,'&quot; A:&quot;',@Answer,'&quot;')"/>
                                                                                    </xsd:appinfo>
                                                                                </xsd:annotation>
                                                                                <xsd:complexType>
                                                                                    <xsd:attribute name="Question" type="xsd:string" use="required"/>
                                                                                    <xsd:attribute name="Answer" type="xsd:string" use="required"/>
                                                                                </xsd:complexType>
                                                                            </xsd:element>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                                <xsd:element name="FieldValues">
                                                                    <xsd:annotation>
                                                                        <xsd:appinfo>
                                                                            <decoration image="$concat('test_', @Commit, '.gif')" textXpath="&lt;xsl:choose>&lt;xsl:when test=&quot;@usergroup&quot;>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',MM, A) executed by  ',@usergroup)&quot;/>&lt;/xsl:when>&lt;xsl:otherwise>&lt;xsl:value-of select=&quot;concat('VersionData (', @Commit, ',MM, A)','')&quot;/>&lt;/xsl:otherwise>&lt;/xsl:choose>"/>
                                                                        </xsd:appinfo>
                                                                    </xsd:annotation>
                                                                    <xsd:complexType>
                                                                        <xsd:complexContent>
                                                                            <xsd:extension base="tFieldValues_MM">
                                                                                <xsd:attribute default="PASS" name="Commit" type="tCommit" use="required"/>
                                                                                <xsd:attribute fixed="MM" name="version" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="MM_7" name="UniqueVerName" type="xsd:string" use="required"/>
                                                                                <xsd:attribute fixed="A" name="Mode" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="true" name="Verify" type="tBool" use="required"/>
                                                                                <xsd:attribute fixed="" name="Authorize" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="-1" name="Override" type="xsd:string" use="required"/>
                                                                                <xsd:attribute default="S" name="reopenMode" use="required">
                                                                                    <xsd:simpleType>
                                                                                        <xsd:restriction base="xsd:string">
                                                                                            <xsd:enumeration value="I"/>
                                                                                            <xsd:enumeration value="S"/>
                                                                                        </xsd:restriction>
                                                                                    </xsd:simpleType>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute fixed="DEFAULT_AUTH_USER" name="bpUsergroup" use="required"/>
                                                                                <xsd:attribute name="usergroup" type="xsd:string" use="optional">
                                                                                    <xsd:annotation>
                                                                                        <xsd:appinfo>
                                                                                            <valueOptions class="hu.fot.testManager.tce.views.UserCollector" plugin="hu.fot.testManager.tce"/>
                                                                                        </xsd:appinfo>
                                                                                    </xsd:annotation>
                                                                                </xsd:attribute>
                                                                                <xsd:attribute default="Drop" name="onFailure" type="tOnFailureType" use="required"/>
                                                                            </xsd:extension>
                                                                        </xsd:complexContent>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                            <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                            <xsd:attribute fixed="T24Version" name="blockType" use="required"/>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute fixed="7" name="seqId" use="required"/>
                                                <xsd:attribute fixed="hu.fot.testManager.globus.http.VERSION" name="class" use="required"/>
                                                <xsd:attribute fixed="Test" name="type" use="required"/>
                                                <xsd:attribute name="id" type="xsd:string" use="required"/>
                                                <xsd:attribute name="skipExec" type="xsd:boolean"/>
                                                <xsd:attribute default="" name="comment" type="xsd:string"/>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute fixed="1" name="value" use="required"/>
                                    <xsd:attribute fixed="1,2" name="seqId" use="required"/>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            <xsd:attribute fixed="project://scenarios/NewMM/MM.bp" name="bpOrigin" type="xsd:string" use="required"/>
            <xsd:attribute fixed="false" name="callable" type="xsd:string" use="required"/>
            <xsd:attribute default="creates a new MM" name="comment" type="xsd:string" use="optional"/>
            <xsd:attribute default="" name="expectedResult" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>
                        <cellEditor class="hu.fot.util.eclipse.MultiLineCellEditor" plugin="hu.fot.util.eclipse"/>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:attribute>
            <xsd:attribute fixed="" name="module" type="xsd:string" use="required"/>
            <xsd:attribute default="New" name="status" type="tTcStatus"/>
            <xsd:attribute default="Medium" name="priority" type="tPriority" use="required"/>
            <xsd:attribute default="" name="creator" type="xsd:string" use="required"/>
            <xsd:attribute default="" name="category" type="xsd:string" use="required"/>
            <xsd:attribute default="" name="refId" type="xsd:string" use="required"/>
        </xsd:complexType>
        <xsd:simpleType name="tPriority">
            <xsd:restriction base="xsd:string">
                <xsd:enumeration value="Very low"/>
                <xsd:enumeration value="Low"/>
                <xsd:enumeration value="Medium"/>
                <xsd:enumeration value="High"/>
                <xsd:enumeration value="Very high"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
</xsd:schema>
